[tools]
go = "[[ .GoVersion ]]"
task = "[[ .TaskVersion ]]"
golangci-lint = "[[ .GolangciVersion ]]"
goreleaser = "[[ .GoreleaserVersion ]]"
syft = "1.45.1"
"go:golang.org/x/vuln/cmd/govulncheck" = "1.7.0"
"go:golang.org/x/tools/gopls" = "0.23.0"
